# Question 1

In [1]:
# let's first install the selenium library
!pip install selenium
!pip install webdriver-manager

Requirement already satisfied: selenium in c:\users\vaish\downloads\original\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vaish\downloads\original\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vaish\downloads\original\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\vaish\downloads\original\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\vaish\downloads\original\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vaish\downloads\original\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\vaish\downloads\original\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\vaish\downloads\original\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\vaish\downloads\original\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\vaish\downloads\original\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\vaish\downloads\original\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\vaish\downloads\original\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\vaish\downloads\original\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\vaish\downloads\original\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vaish\downloads\original\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vaish\downloads\original\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: webdriver-manager in c:\users\vaish\downloads\original\lib\site-packages (3.8.3)
Requirement already satisfied: python-dotenv in c:\users\vaish\downloads\original\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: requests in c:\users\vaish\downloads\original\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: tqdm in c:\users\vaish\downloads\original\lib\site-packages (from webdriver-manager) (4.62.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vaish\downloads\original\lib\site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vaish\downloads\original\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\vaish\downloads\original\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vaish\downloads\original\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: colorama in c:\users\vaish\downloads\original\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)

In [2]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#Connecting to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
#Opening the naukri.com website on automated website
driver.get("https://www.naukri.com")

In [5]:
#Entering designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [7]:
clk=driver.find_element(By.CLASS_NAME,"qsbSubmit")
clk.click()

In [8]:
#Creating empty lists for scraping
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [58]:
#Scraping job title from the given web page
title_drive=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_drive[0:10]:
    title=i.text
    job_title.append(title)

In [59]:
#Scraping job location from the given web page
location_drive=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_drive[0:10]:
    loc1=i.text
    job_location.append(loc1)

In [61]:
#Scraping Company name 
com_name=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in com_name[0:10]:
    cn=i.text
    company_name.append(cn)

In [62]:
#Scraping Job Experience 
experience_1=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_1[0:10]:
    exp=i.text
    experience_required.append(exp)

In [60]:
len(job_title)

10

In [63]:
#Creating Dataframe
data=pd.DataFrame({"Job Title":job_title,"Job Location":job_location,"Company Name":company_name,"Experience Required":experience_required})

In [64]:
data

,Job Title,Job Location,Company Name,Experience Required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
2,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
3,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
6,Women on career break_ Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Zinnov Management C,5-10 Yrs
7,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs
8,SR. Data Analyst- SME- Pharma and Healthcare,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",CHRYSELYS,2-6 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Chennai",Botree Software,1-5 Yrs

# Question 2

In [1]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import numpy as np

#Connecting to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri.com website on automated website
driver.get("https://www.naukri.com")

#Entering designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

clk=driver.find_element(By.CLASS_NAME,"qsbSubmit")
clk.click()

#Creating empty lists for scraping
job_title=[]
job_location=[]
company_name=[]

#Scraping job title from the given web page
title_drive=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_drive[0:10]:
    title=i.text
    job_title.append(title)

#Scraping job location from the given web page
location_drive=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_drive[0:10]:
    loc1=i.text
    job_location.append(loc1)

#Scraping Company name 
com_name=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in com_name[0:10]:
    cn=i.text
    company_name.append(cn)

#Creating Dataframe
data=pd.DataFrame({"Job Title":job_title,"Job Location":job_location,"Company Name":company_name})
data

,Job Title,Job Location,Company Name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist/AIML Engineer,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad
5,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
6,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
7,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
8,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.
9,Data Scientist - A.P. Maersk,Bangalore/Bengaluru\n(WFH during Covid),Maersk

# Question 3

In [8]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time


#Creating empty lists for scraping
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [15]:
#Connecting to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [16]:
#Opening the naukri.com website on automated website
driver.get("https://www.naukri.com")

In [17]:
#Entering designation 
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")
clk=driver.find_element(By.CLASS_NAME,"qsbSubmit")
clk.click()

In [18]:
clk1=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
clk1.click()

In [20]:
clk2=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
clk2.click()

In [21]:
#Creating empty lists for scraping
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:

#Scraping job title from the given web page
title_drive=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_drive[0:10]:
    title=i.text
    job_title.append(title)

#Scraping job location from the given web page
location_drive=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_drive[0:10]:
    loc1=i.text
    job_location.append(loc1)

#Scraping Company name 
com_name=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in com_name[0:10]:
    cn=i.text
    company_name.append(cn)

#Scraping Job Experience 
experience_1=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_1[0:10]:
    exp=i.text
    experience_required.append(exp)

#Creating Dataframe
data=pd.DataFrame({"Job Title":job_title,"Job Location":job_location,"Company Name":company_name,"Experience Required":experience_required})
data

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
5,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
6,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
8,Data Scientist,Noida,4i Odc,2-4 Yrs
9,"Data Scientist, Associate",Delhi / NCR,NatWest Group,2-7 Yrs

# Question 4

In [23]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from time import sleep

In [24]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [25]:
#Opening the Flipkart website on automated website
driver.get("https://www.flipkart.com/")

In [26]:
#Entering Sunglasses in the search field
prod=driver.find_element(By.CLASS_NAME,"_3704LK")
prod.send_keys("Sunglasses")
clk=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
clk.click()

In [27]:
products=[]
des=[]
price=[]
for i in range(3):
    print ('Scraping page',i+1)
    product_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for p in product_brand:
        products.append (p.text)
    product_des=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for d in product_des:
        des.append(d.text)
    product_price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for pr in product_price:
        price.append(pr.text)
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    sleep(2)

Scraping page 1
Scraping page 2
Scraping page 3

In [28]:
#creating dataframe
lists = [products[0:100],des[0:100],price[0:100]]
flipkart_sunglasses = pd.concat([pd.Series(x) for x in lists], axis=1)
flipkart_sunglasses.columns=["Brand","Description","Price"]
flipkart_sunglasses

             Brand                                        Description   Price
0         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹799
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...    ₹901
2   ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)    ₹449
3           AISLIN  UV Protection, Gradient Butterfly, Retro Squar...    ₹415
4   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹319
..             ...                                                ...     ...
95       ROYAL SON       UV Protection, Gradient Oval Sunglasses (60)    ₹479
96              Mi              Polarized Rectangular Sunglasses (60)    ₹799
97          AISLIN    by Lenskart UV Protection Round Sunglasses (58)    ₹448
98       ROYAL SON  Polarized, UV Protection Wayfarer, Retro Squar...    ₹559
99   VINCENT CHASE           UV Protection Over-sized Sunglasses (65)  ₹1,049

[100 rows x 3 columns]

# Question 5

In [29]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from time import sleep

In [30]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [31]:
#Opening the naukri.com website on automated website
driver.get("https://www.flipkart.com/")

In [32]:
#Entering i phone 11 in the search field
prod=driver.find_element(By.CLASS_NAME,"_3704LK")
prod.send_keys("i phone 11")
clk=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
clk.click()

In [33]:
#Selecting i phone 11 url from the list
temp=driver.find_element(By.XPATH,"//a[@class='_1fQZEK']")

In [34]:
#Opening the url
driver.get(temp.get_attribute("href"))

In [35]:
#Selecting Reviews Section

clk1=driver.find_element(By.XPATH,"//span[@class='_2_R_DZ']")
clk1.click()

In [36]:
clk2=driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']")
clk2.click()

In [37]:
#Creating empty lists for reviews
rating=[]
review_summary=[]
full_review=[]

In [38]:
for i in range(10):
    print ('Scraping page',i+1)
    rate=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for p in rate:
        rating.append (p.text)
    rev=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for d in rev:
        review_summary.append(d.text)
    fullrev=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for pr in fullrev:
        full_review.append(pr.text)
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    sleep(2)

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

In [39]:
#creating dataframe
lists = [rating,review_summary,full_review]
flipkart_iphone11= pd.concat([pd.Series(x) for x in lists], axis=1)
flipkart_iphone11.columns=["Rating","Review Summary","Full Review"]
flipkart_iphone11

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
96,5,Highly recommended,"Amazing camera quality as expected, battery al..."
97,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
98,5,Terrific,Really worth of money. i just love it. It is t...
99,5,Wonderful,This is my first ever I phone. Before this I w...

# Question 6

In [40]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from time import sleep

In [41]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [42]:
#Opening the naukri.com website on automated website
driver.get("https://www.flipkart.com/")

In [44]:
#Entering i phone 11 in the search field
prod=driver.find_element(By.CLASS_NAME,"_3704LK")
prod.send_keys("sneakers")
clk=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
clk.click()

In [45]:
#Creating empty lists
brand=[]
product_des=[]
price=[]

In [46]:
for i in range(3):
    print ('Scraping page',i+1)
    product_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for p in product_brand:
        brand.append (p.text)
    des=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for d in des:
        product_des.append(d.text)
    product_price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for pr in product_price:
        price.append(pr.text)
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    sleep(2)

Scraping page 1
Scraping page 2
Scraping page 3

In [47]:
#creating dataframe
lists = [brand[0:100],product_des[0:100],price[0:100]]
flipkart_sneakers = pd.concat([pd.Series(x) for x in lists], axis=1)
flipkart_sneakers.columns=["Brand","Description","Price"]
flipkart_sneakers

       Brand                                        Description Price
0     Labbin                                   Sneakers For Men  ₹399
1         TR                                   Sneakers For Men  ₹295
2     Shozie  Breathable, Walking, Running, Casual, Gym Shoe...  ₹379
3     Kraasa        Casuals, Canvas, Partywear Sneakers For Men  ₹428
4     Layasa                              supr Sneakers For Men  ₹199
..       ...                                                ...   ...
95    Layasa       Modern Trendy Sneakers boot Sneakers For Men  ₹199
96    Chevit                                 Sneakers For Women  ₹407
97  RapidBox                                   Sneakers For Men  ₹549
98    Kzaara             Lattest Sneakers Shoe Sneakers For Men  ₹233
99  HOTSTYLE         sneaker men red 1258 - 10 Sneakers For Men  ₹292

[100 rows x 3 columns]

# Question 7

In [48]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from time import sleep

In [49]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [50]:
#Opening the Myntra website on automated website
driver.get("https://www.myntra.com/shoes")

In [51]:
#Applying the price and color filter
color=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color.click()

In [52]:
price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price.click()

In [53]:
#Creating empty lists
brand=[]
product_des=[]
price=[]

In [54]:
for i in range(2):
    print ('Scraping page',i+1)
    product_brand=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for p in product_brand:
        brand.append (p.text)
    des=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for d in des:
        product_des.append(d.text)
    product_price=driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for pr in product_price:
        price.append(pr.text)
    next_button = driver.find_element(By.CLASS_NAME,"pagination-next")
    next_button.click()
    sleep(2)

Scraping page 1
Scraping page 2

In [55]:
#creating dataframe
lists = [brand,product_des,price]
myntra_shoes=pd.concat([pd.Series(x) for x in lists], axis=1)
myntra_shoes.columns=["Brand","Description","Price"]
myntra_shoes

,Brand,Description,Price
0,ADIDAS Originals,Men Niteball II Sneakers,Rs. 9349Rs. 10999(15% OFF)
1,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
2,Nike,Men React Infinity 3 Running,Rs. 13295Rs. 13995(5% OFF)
3,ADIDAS Originals,Men Leather Niteball Sneakers,Rs. 10799Rs. 11999(10% OFF)
4,Puma,Eternity Nitro Running Shoes,Rs. 12999
...,...,...,...
95,Tommy Hilfiger,Women Leather Sneakers,Rs. 8599
96,Skechers,Women Arch Fit Slip-On Sneaker,Rs. 7999
97,Tommy Hilfiger,Women Leather Kitten Sandals,Rs. 7199Rs. 7999(10% OFF)
98,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
99,ADIDAS,Women Solar Glide 5 Running,Rs. 9799Rs. 13999(30% OFF)

# Question 8

In [ ]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from time import sleep
import numpy as np

In [ ]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
#Opening the Amazon website on automated website
driver.get("https://www.amazon.in/")

In [ ]:
#Entering "Laptop" in search field
item=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
item.send_keys("Laptop")

In [ ]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [ ]:
#Applying CPU Type filter
cpu_filter=driver.find_element(By.XPATH,"//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a")
cpu_filter.click()

In [ ]:
#Creating empty lists
title=[]
rating=[]
price=[]

In [ ]:
#Scraping laptop title
a=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i1 in a:
    title.append(i1.text)
      
#Scraping Laptop Price
c=driver.find_elements(By.CLASS_NAME,"a-price-whole")
for i3 in c:
    price.append(i3.text)

In [ ]:
#Scraping Laptop Rating
b=driver.find_element(By.XPATH,"//i[@class='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom']")
b.click()
b1=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for i2 in b1:
    rating.append(i2.text)

In [ ]:
#creating dataframe
lists = [title,price,rating]
amazon=pd.concat([pd.Series(x) for x in lists], axis=1)
amazon.columns=["Laptop Title","Price","Rating"]
amazon

# Question 9

In [1]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import numpy as np

In [17]:
#Connecting to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [18]:
#Opening the website on automated website
driver.get("https://www.ambitionbox.com/")

In [20]:
#Selecting job section
job=driver.find_element(By.CLASS_NAME,"navItemLink")
job.click()

In [22]:
#Entering the job designation-Data Scientist
job_designation=driver.find_element(By.XPATH,"//*[@id='jobs-typeahead']/span/input")
job_designation.send_keys("Data Scientist")
search=driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search.click()

In [24]:
#Applying Noida as location filter
locate_search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
lock=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")

lock.send_keys("Noida")

In [25]:
sel=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input")

In [26]:
sel.click()

In [27]:
#Creating empty lists for scraping
company=[]
days=[]
rating=[]

In [28]:
a=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
for i in a:
    company.append(i.text)
    
b=driver.find_elements(By.XPATH,"//span[@class='body-small-l']")
for i1 in b:
    days.append(i1.text)
    
days_ago=days[0::2]
days_ago

c=driver.find_elements(By.XPATH,"//span[@class='body-small']")
for i2 in c:
    rating.append(i2.text)

In [29]:
#creating dataframe
lists = [company,days_ago,rating]
ambition=pd.concat([pd.Series(x) for x in lists], axis=1)
ambition.columns=["Company"," No. of days ago when job was posted","Rating of the company"]
ambition

,Company,No. of days ago when job was posted,Rating of the company
0,Optum Global Solutions (India) Private Limited,6d ago,4.1
1,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,4d ago,4.3
2,EY GDS,6d ago,3.8
3,GLOBALLOGIC INDIA PRIVATE LIMITED,4d ago,4.0
4,GENPACT India Private Limited,26d ago,4.0
5,Genpact,28d ago,4.0
6,Ericsson India Global Services Pvt. Ltd.,1mon ago,4.3
7,Dew Solutions Pvt. Ltd.,11d ago,4.3
8,One97 Communications Limited,19d ago,3.8
9,EY,1mon ago,3.8

# Question 10

In [30]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import numpy as np
from selenium.webdriver.common.keys import Keys

In [31]:
#Connecting to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [32]:
#Opening the website on automated website
driver.get("https://www.ambitionbox.com/")

In [33]:
#Clicking on the salary option
sal=driver.find_element(By.XPATH,"//*[@id='ambitionbox-header']/nav/ul/li[3]/span")

In [34]:
opt=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a")
driver.get(opt.get_attribute("href"))

In [35]:
#Entering Data Scientist

role=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
                                  
role.send_keys("Data Scientist")

In [36]:
var1=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
var1.click()

var2=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
var2.click()

In [37]:
#Creating empty lists
company=[]
average_salary=[]
min_sal=[]
max_sal=[]
sam=[]

In [38]:
#Scraping company name,salary record, years of experience
n1=driver.find_elements(By.XPATH,"//div[@class='company-info']")
for i2 in n1:
    company.append(i2.text)

In [39]:
#Scraping Average Salary
c=driver.find_elements(By.XPATH,"//p[@class='averageCtc']")
for i in c:
    average_salary.append(i.text)

In [40]:
#Scraping min and max salary
d=driver.find_elements(By.XPATH,"//div[@class='value body-medium']")
for i1 in d:
    sam.append(i1.text)

In [41]:
min_sal=sam[0::2]
max_sal=sam[1::2]

In [43]:
#creating dataframe
lists = [company[0:10],average_salary,min_sal,max_sal]
ambition_salary = pd.concat([pd.Series(x) for x in lists], axis=1)
ambition_salary.columns=["Company","Average Salary","Minimum Salary","Maximum Salary"]
ambition_salary

,Company,Average Salary,Minimum Salary,Maximum Salary
0,Walmart\nData Scientist Salary\n3-4 yrs experi...,₹ 32.3L,₹ 25.0L,₹ 45.0L
1,Ab Inbev\nData Scientist Salary\n2-4 yrs exper...,₹ 19.9L,₹ 15.0L,₹ 26.0L
2,Optum\nData Scientist Salary\n2-4 yrs experien...,₹ 16.4L,₹ 11.0L,₹ 22.6L
3,ZS\nData Scientist Salary\n1-2 yrs experience ...,₹ 15.8L,₹ 11.0L,₹ 22.0L
4,Fractal Analytics\nData Scientist Salary\n2-4 ...,₹ 15.4L,₹ 9.0L,₹ 23.0L
5,Tiger Analytics\nData Scientist Salary\n2-4 yr...,₹ 14.7L,₹ 9.0L,₹ 20.0L
6,Sigmoid Analytics\nData Scientist Salary\n1 yr...,₹ 14.7L,₹ 12.7L,₹ 19.7L
7,Legato Health Technologies\nData Scientist Sal...,₹ 14.5L,₹ 11.0L,₹ 20.0L
8,HSBC\nData Scientist Salary\n4 yrs experience ...,₹ 14.0L,₹ 12.0L,₹ 18.0L
9,Tredence\nData Scientist Salary\n3 yrs experie...,₹ 13.9L,₹ 8.8L,₹ 17.5L