# Question 1

In [2]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\vaish\downloads\original\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\vaish\downloads\original\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\vaish\downloads\original\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\vaish\downloads\original\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\vaish\downloads\original\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vaish\downloads\original\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vaish\downloads\original\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vaish\downloads\original\lib\site-packages (from requests) (3.2)

In [50]:
from bs4 import BeautifulSoup

In [51]:
import requests

In [52]:
import pandas as pd

In [53]:
page=requests.get("https://www.wikipedia.org/")

In [54]:
page

In [55]:
soup=BeautifulSoup(page.content)

In [56]:
from urllib.request import urlopen
html=urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs=BeautifulSoup(html,"html.parser")

In [57]:
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List of all the header tags :', *titles, sep='\n\n')

List of all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you knowÂ ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

# Question 2

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
soup=BeautifulSoup(url.content,"html.parser")

#Scraping Movie Name
name=soup.find_all("h3",class_="lister-item-header")

a=[]
for i in range(0,len(name)):
    a.append(name[i].text)
    
a=list(map(lambda x:x.strip(),a))


#Scraping Rating
rate=soup.find_all("div",class_="inline-block ratings-imdb-rating")
b=[]
for i2 in range(0,len(rate)):
    b.append(rate[i2].text)
    
b=list(map(lambda x:x.strip("\n"),b))

#Scraping Year of Release
year=soup.find_all("span",class_="lister-item-year text-muted unbold")
c=[]
for i3 in range(0,len(year)):
    c.append(year[i3].text)
    
#creating dataframe
lists = [a,b,c]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Movie Name","Rating","Year of Release"]
df

                                           Movie Name Rating Year of Release
0                1.\nThe Shawshank Redemption\n(1994)    9.3          (1994)
1                           2.\nThe Godfather\n(1972)    9.2          (1972)
2                         3.\nThe Dark Knight\n(2008)    9.0          (2008)
3   4.\nThe Lord of the Rings: The Return of the K...    9.0          (2003)
4                        5.\nSchindler's List\n(1993)    9.0          (1993)
5                   6.\nThe Godfather Part II\n(1974)    9.0          (1974)
6                            7.\n12 Angry Men\n(1957)    9.0          (1957)
7                            8.\nPulp Fiction\n(1994)    8.9          (1994)
8                               9.\nInception\n(2010)    8.8          (2010)
9   10.\nThe Lord of the Rings: The Two Towers\n(2...    8.8          (2002)
10                            11.\nFight Club\n(1999)    8.8          (1999)
11  12.\nThe Lord of the Rings: The Fellowship of ...    8.8          (2001)
12                          13.\nForrest Gump\n(1994)    8.8          (1994)
13       14.\nIl buono, il brutto, il cattivo\n(1966)    8.8          (1966)
14                            15.\nThe Matrix\n(1999)    8.7          (1999)
15                            16.\nGoodfellas\n(1990)    8.7          (1990)
16               17.\nThe Empire Strikes Back\n(1980)    8.7          (1980)
17       18.\nOne Flew Over the Cuckoo's Nest\n(1975)    8.7          (1975)
18                          19.\nInterstellar\n(2014)    8.6          (2014)
19                        20.\nCidade de Deus\n(2002)    8.6          (2002)
20         21.\nSen to Chihiro no kamikakushi\n(2001)    8.6          (2001)
21                   22.\nSaving Private Ryan\n(1998)    8.6          (1998)
22                        23.\nThe Green Mile\n(1999)    8.6          (1999)
23                       24.\nLa vita Ã¨ bella\n(1997)    8.6          (1997)
24                                 25.\nSe7en\n(1995)    8.6          (1995)
25            26.\nTerminator 2: Judgment Day\n(1991)    8.6          (1991)
26              27.\nThe Silence of the Lambs\n(1991)    8.6          (1991)
27                             28.\nStar Wars\n(1977)    8.6          (1977)
28                               29.\nSeppuku\n(1962)    8.6          (1962)
29                  30.\nShichinin no samurai\n(1954)    8.6          (1954)
30                 31.\nIt's a Wonderful Life\n(1946)    8.6          (1946)
31                          32.\nGisaengchung\n(2019)    8.5          (2019)
32                              33.\nWhiplash\n(2014)    8.5          (2014)
33                     34.\nTop Gun: Maverick\n(2022)    8.5          (2022)
34                      35.\nThe Intouchables\n(2011)    8.5          (2011)
35                          36.\nThe Prestige\n(2006)    8.5          (2006)
36                          37.\nThe Departed\n(2006)    8.5          (2006)
37                           38.\nThe Pianist\n(2002)    8.5          (2002)
38                             39.\nGladiator\n(2000)    8.5          (2000)
39                    40.\nAmerican History X\n(1998)    8.5          (1998)
40                    41.\nThe Usual Suspects\n(1995)    8.5          (1995)
41                                  42.\nLÃ©on\n(1994)    8.5          (1994)
42                         43.\nThe Lion King\n(1994)    8.5          (1994)
43                 44.\nNuovo Cinema Paradiso\n(1988)    8.5          (1988)
44                        45.\nHotaru no haka\n(1988)    8.5          (1988)
45                    46.\nBack to the Future\n(1985)    8.5          (1985)
46                        47.\nApocalypse Now\n(1979)    8.5          (1979)
47                                 48.\nAlien\n(1979)    8.5          (1979)
48          49.\nOnce Upon a Time in the West\n(1968)    8.5          (1968)
49                                50.\nPsycho\n(1960)    8.5          (1960)

# Question 3

In [3]:
import requests
from bs4 import BeautifulSoup
url=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
soup=BeautifulSoup(url.content,"html.parser")
import pandas as pd

#Scraping Movie Name
name=soup.find_all("td",class_="titleColumn")
a=[]
for i in range(0,100):
    a.append(name[i].text)
    
a=list(map(lambda x:x.strip(),a))

#Scraping Rating
rate=soup.find_all("td",class_="ratingColumn imdbRating")
rate=rate[0:100]            


#Scraping Year of Release
year=soup.find_all("span",class_="secondaryInfo")
y=[]
for i3 in range(0,100):
    y.append(year[i].text)

#creating dataframe
lists = [a,rate,y]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Movie Name","Rating","Year of Release"]
df

,Movie Name,Rating,Year of Release
0,1.\n Rocketry: The Nambi Effect\n(2022),"[\n, [8.5], \n]",(2004)
1,2.\n Anbe Sivam\n(2003),"[\n, [8.4], \n]",(2004)
2,3.\n Golmaal\n(1979),"[\n, [8.4], \n]",(2004)
3,4.\n Nayakan\n(1987),"[\n, [8.4], \n]",(2004)
4,5.\n Jai Bhim\n(2021),"[\n, [8.4], \n]",(2004)
...,...,...,...
95,96.\n Angoor\n(1982),"[\n, [8.0], \n]",(2004)
96,97.\n Rang De Basanti\n(2006),"[\n, [8.0], \n]",(2004)
97,98.\n Baahubali 2: The Conclusion\n(2017),"[\n, [8.0], \n]",(2004)
98,99.\n Baasha\n(1995),"[\n, [8.0], \n]",(2004)
99,100.\n Virumandi\n(2004),"[\n, [8.0], \n]",(2004)

# Question 4

In [29]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

data=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
bs = BeautifulSoup(data.text, "html.parser")

#Scraping President's Names
name=[bs.find_all("div",class_="presidentListing")]
name1=bs.find_all("h3")

n1=[]
for i in range(0,len(name1)):
    n1.append(name1[i].text)

#print("The list of respected former presidents of India", n1)

#Scraping Terms of Presidents

t=[bs.find_all("div",class_="presidentListing")]
b=[]
for i1 in t:
    b=bs.find_all("p")

b1=b[0:7:2]
b2=b[8:18]

for i2 in b2 :
    b1.append(i2)

term=[]
for i3 in range(0,len(b1)):
    term.append(b1[i3].text)
    
#creating dataframe
lists = [n1,term]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["The list of respected former presidents of India","Term"]
df

,The list of respected former presidents of India,Term
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

# Question 5(a)

In [31]:
import requests
from bs4 import BeautifulSoup

x1=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup=BeautifulSoup(x1.text,"html.parser")

#Scraping Team Names
x1=soup.find_all("span",class_="u-hide-phablet")
x2=[]
for i in range(0,len(x1)):
    x2.append(x1[i].text)
    
#print("Top 10 ODI teams in menâs cricket :\n", x2)


#Scraping Matches
m1=soup.find("td",class_="rankings-block__banner--matches")
m2=soup.find_all("td",class_="table-body__cell u-center-text")
m3=[]
for i in range(0,len(m2)):
    m3.append(m2[i].text)
    
p2=m3[1::2]    
matches=m3[0::2]
matches.insert(0,(m1.text))

#print("Top 10 ODI Men's Team matches: \n", matches)

#Scraping Points
p1=soup.find("td", class_="rankings-block__banner--points")
p2.insert(0,(p1.text))
#print("Top 10 ODI Men's Team points: \n", p2)

#Scraping Ratings
r1=soup.find("td",class_="rankings-block__banner--rating u-text-right")
r2=soup.find_all("td",class_="table-body__cell u-text-right rating")
r3=[]
for i in range(0,len(r2)):
    r3.append(r2[i].text)

r3.insert(0,(r1.text.strip("      \n          ")))
#print("Top 10 ODI Men's Team ratings:\n",r3)

#creating dataframe
lists = [x2,matches,p2,r3]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Teams","Matches","Points","Ratings"]
df

               Teams Matches Points Ratings
0        New Zealand      19  2,355     124
1            England      27  3,226     119
2              India      31  3,447     111
3           Pakistan      22  2,354     107
4          Australia      25  2,548     102
5       South Africa      21  2,111     101
6         Bangladesh      30  2,753      92
7          Sri Lanka      29  2,658      92
8        West Indies      41  2,902      71
9        Afghanistan      18  1,238      69
10           Ireland      23  1,214      53
11          Scotland      27  1,254      46
12          Zimbabwe      25    973      39
13       Netherlands      21    673      32
14               UAE      22    697      32
15     United States      23    725      32
16              Oman      30    919      31
17           Namibia      15    369      25
18             Nepal      22    331      15
19  Papua New Guinea      22    134       6

# Question 5(b)

In [32]:
import requests
from bs4 import BeautifulSoup

url=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
soup=BeautifulSoup(url.content,"html.parser")

#Scraping Player name
pl1=soup.find("div",class_="rankings-block__banner--name-large").text
pl2=soup.find_all("td",class_="table-body__cell rankings-table__name name")
pl3=[]
for i in range(0,len(pl2)):
    pl3.append((pl2[i].text).strip("\n"))
    
pl3.insert(0,pl1)
#print("Top 10 ODI Batsmen", pl3)

#Scraping Team
t1=soup.find("div",class_="rankings-block__banner--nationality")
team1=soup.find_all("span",class_="table-body__logo-text")
x=[]
for i in range(0,len(team1)):
    x.append(team1[i].text)
    
x.insert(0,(t1.text))
#print("Top 10 ODI Batsmen Teams", x)


#Scraping Rating
r1=soup.find("div",class_="rankings-block__banner--rating").text
r2=soup.find_all("td",class_="table-body__cell rating")
r3=[]
for i3 in range(0,len(r2)):
    r3.append(r2[i3].text)
    
#print("Top 10 ODI Batsmen Rating", r3)
#creating dataframe
lists = [pl3,x,r3]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Player","Team","Ratings"]
df

                   Player       Team Ratings
0              Babar Azam  \n\nPAK\n     789
1   Rassie van der Dussen         SA     784
2         Quinton de Kock         SA     779
3             Imam-ul-Haq        PAK     744
4             Virat Kohli        IND     740
..                    ...        ...     ...
95          Charles Amini        PNG     436
96          Matthew Cross        SCO     433
97  Chundangapoyil Rizwan        UAE     425
98            Chirag Suri        UAE     424
99            Philip Salt        ENG     NaN

[100 rows x 3 columns]

# Question 5c

In [33]:
import requests
from bs4 import BeautifulSoup

url=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
soup=BeautifulSoup(url.content,"html.parser")

#Scraping bowlers names
n1=soup.find("div",class_="rankings-block__banner--name-large")
n2=soup.find_all("td",class_="table-body__cell rankings-table__name name")
a=[]
for i in range(0,len(n2)):
    a.append(n2[i].text)
    
a=list(map(lambda x:x.strip(),a))

a.insert(0,(n1.text))
#print("Top 10 ODI bowlers",a)
    

#Scraping Teams

t1=(soup.find("div",class_="rankings-block__banner--nationality")).text
t2=soup.find_all("span",class_="table-body__logo-text")
b=[]
for i in range(0,len(t2)):
    b.append((t2[i].text))
    
b.insert(0,(t1.strip("\n")))
#print("Top 10 ODI bowler's Teams",b)

#Scraping Ratings

r1=soup.find("div",class_='rankings-block__banner--rating')
r2=soup.find_all("td",class_="table-body__cell rating")
c=[]
for i in range(0,len(r2)):
    c.append(r2[i].text)

c.insert(0,(r1.text))
#print("Top 10 ODI bowler's Ratings",c)

#creating dataframe
lists = [a,b,c]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Player","Team","Ratings"]
df

              Player Team Ratings
0        Trent Boult   NZ     720
1     Josh Hazlewood  AUS     678
2   Mujeeb Ur Rahman  AFG     676
3     Jasprit Bumrah  IND     662
4     Shaheen Afridi  PAK     661
..               ...  ...     ...
95        Mark Adair  IRE     390
96       Sompal Kami  NEP     390
97          Karan KC  NEP     387
98      Norman Vanua  PNG     386
99     Wayne Parnell   SA     380

[100 rows x 3 columns]

# Question 6a

In [34]:
import requests
from bs4 import BeautifulSoup

url=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup=BeautifulSoup(url.content,"html.parser")

#Scraping Teams
t=soup.find_all("span",class_="u-hide-phablet")
b=[]
for i1 in range(0,len(t)):
    b.append(t[i1].text)

#print("Top 10 ODI teams in womenâs cricket:\n",b)

#Scraping Matches and Points
x=soup.find_all("td", class_="table-body__cell u-center-text")
a=[]
for i in range(0,len(x)):
    a.append(x[i].text)

matches=a[0::2]
points=a[1::2]
#print("Top 10 ODI Team's matches:\n",matches)
#print("Top 10 ODI Team's points:\n",points)

#Scraping Rating
y=soup.find_all("td", class_="table-body__cell u-text-right rating")
c=[]
for i2 in range(0,len(y)):
    c.append(y[i2].text)

    
y1=soup.find_all("td", class_="rankings-block__banner--rating u-text-right")
d=[]
for i3 in range(0,len(y1)):
    d.append(y1[i3].text)

#removing \n from the list
d=list(map(lambda x:x.strip(),d))


c.insert(0,d[0])

#print("Top 10 ODI Team's ratings:\n",c)
#creating dataframe
lists = [b,matches,points,c]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Teams","Matches","Points","Ratings"]
df

           Teams Matches Points Ratings
0      Australia      33  4,046     167
1        England      35  4,157     123
2   South Africa      32  3,219     119
3          India      31  3,019     101
4    New Zealand      30  2,768      97
5    West Indies      12    930      92
6     Bangladesh      30  1,962      78
7       Pakistan      11    516      65
8        Ireland      11    495      47
9      Sri Lanka       8      0      45
10      Zimbabwe     NaN    NaN       0

# Question 6b

In [35]:
import requests
from bs4 import BeautifulSoup

url1=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

soup1=BeautifulSoup(url1.content,"html.parser")

#Scraping Players
player1=(soup1.find("div",class_="rankings-block__banner--name-large")).text
player2=soup1.find_all("td", class_="table-body__cell rankings-table__name name")


p2=[]
for i in range(0,len(player2)):
    p2.append(player2[i].text)
    
 #removing \n from the list   
p2=list(map(lambda x:x.strip(),p2))

p2.insert(0,player1)
#print("Top 10 womenâs ODI Batting players", p2)

#Scraping Team
team1=soup1.find("div",class_="rankings-block__banner--nationality")

team2=soup1.find_all("span",class_="table-body__logo-text")
a=[]
for i in range(0,len(team2)-1):
    a.append(team2[i].text)

a.insert(0,(team1.text.strip("\n")))
#print("Top 10 womenâs ODI Batting player's teams", a)


#Scraping Rating
rate1=soup1.find("div", class_="rankings-block__banner--rating")

rate2=soup1.find_all("td",class_="table-body__cell rating")
b=[]
for i in range(0, len(rate2)-1):
    b.append(rate2[i].text)

b.insert(0,(rate1.text))
#print("Top 10 womenâs ODI Batting player's ratings", b)
#creating dataframe
lists = [p2,a,b]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Player","Teams","Ratings"]
df

                 Player Teams Ratings
0          Alyssa Healy   AUS     785
1           Beth Mooney   AUS     749
2        Natalie Sciver   ENG     747
3       Laura Wolvaardt    SA     732
4           Meg Lanning   AUS     710
..                  ...   ...     ...
95            Sneh Rana   IND     212
96  Frederique Overdijk   NED     210
97   Sabbhineni Meghana   IND     210
98   Anushka Sanjeewani    SL     209
99         Meghna Singh   NaN     NaN

[100 rows x 3 columns]

# Question 6c

In [36]:
import requests
from bs4 import BeautifulSoup

url=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
soup=BeautifulSoup(url.content,"html.parser")

#Scraping player name
name1=soup.find("div",class_="rankings-block__banner--name-large")
name2=soup.find_all("td",class_="table-body__cell rankings-table__name name")


n1=[]
for i in range(0,len(name2)):
    n1.append(name2[i].text)

n1=list(map(lambda x:x.strip(),n1))
n1.insert(0,(name1.text))
#print("Top 10 womenâs ODI all-rounder",n1)


#Scraping Team
team1=soup.find("div",class_="rankings-block__banner--nationality")

team2=soup.find_all("span",class_="table-body__logo-text")
t2=[]
for i in range(0,len(team2)):
    t2.append(team2[i].text)

t2.insert(0,(team1.text.strip("\n")))
#print("Top 10 womenâs ODI all-rounder teams",t2)

#Scraping Rating
rate1=soup.find("div",class_="rankings-block__banner--rating")
rate2=soup.find_all("td",class_="table-body__cell rating")

r1=[]
for i in range(0,len(rate2)):
    r1.append(rate2[i].text)

r1.insert(0,(rate1.text))
#print("Top 10 womenâs ODI all-rounder ratings",r1)

#creating dataframe
lists = [n1,t2,r1]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Player","Teams","Ratings"]
df

                  Player Teams Ratings
0         Natalie Sciver   ENG     379
1           Ellyse Perry   AUS     374
2         Marizanne Kapp    SA     349
3        Hayley Matthews    WI     339
4            Amelia Kerr    NZ     336
5       Ashleigh Gardner   AUS     270
6          Deepti Sharma   IND     252
7          Jess Jonassen   AUS     246
8        Katherine Brunt   ENG     220
9        Stafanie Taylor    WI     207
10        Jhulan Goswami   IND     205
11     Sophie Ecclestone   ENG     202
12         Sophie Devine    NZ     202
13          Rumana Ahmed   BAN     201
14              Nida Dar   PAK     200
15  Chloe-Lesleigh Tryon    SA     197
16          Salma Khatun   BAN     178
17   Chamari Athapaththu    SL     178
18             Sune Luus    SA     171
19      Harmanpreet Kaur   IND     158

# Question 7

In [41]:
import requests
from bs4 import BeautifulSoup

x=requests.get("https://www.cnbc.com/world/?region=world")

soup=BeautifulSoup(x.content,"html.parser")

#Headlines Scraping
head=soup.find_all("div",class_="FeaturedCard-contentText")

a=[]
for i in range(0,len(head)):
    a.append((head[i].text))

print("Headline:\t", a)

#Time Scraping
time=soup.find_all("time",class_="LatestNews-timestamp")

b=[]
for i2 in range(0,len(time)):
    b.append((time[i2].text))

#print("Time:\t", b)

#News Link Scraping
link=soup.find_all("a",class_="LatestNews-headline")

for i in link:
    lk.append(i["href"])
    
    
#creating dataframe
lists = [b,lk]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Time Stamp","News Link"]
df

Headline:	 ['EU economics chief says bloc is not afraid of Putin, ready to react over halted Russian gas supplies']

      Time Stamp                                          News Link
0     1 Hour Ago  https://www.cnbc.com/2022/09/03/europe-ready-t...
1    2 Hours Ago  https://www.cnbc.com/2022/09/03/eu-urges-china...
2   14 Hours Ago  https://www.cnbc.com/2022/09/02/trump-pick-in-...
3   14 Hours Ago  https://www.cnbc.com/2022/09/02/how-quiet-quit...
4   14 Hours Ago  https://www.cnbc.com/2022/09/02/pro-picks-watc...
5   15 Hours Ago  https://www.cnbc.com/2022/09/02/comcast-execut...
6   15 Hours Ago  https://www.cnbc.com/2022/09/02/investing-club...
7   16 Hours Ago  https://www.cnbc.com/2022/09/02/as-wall-street...
8   16 Hours Ago  https://www.cnbc.com/2022/09/02/john-podesta-t...
9   16 Hours Ago  https://www.cnbc.com/2022/09/02/trump-ex-attor...
10  16 Hours Ago  https://www.cnbc.com/2022/09/02/million-dollar...
11  16 Hours Ago  https://www.cnbc.com/2022/09/02/chobani-pulls-...
12  17 Hours Ago  https://www.cnbc.com/2022/09/02/these-were-the...
13  17 Hours Ago  https://www.cnbc.com/2022/09/02/pga-tour-denie...
14  17 Hours Ago  https://www.cnbc.com/2022/09/02/august-jobs-re...
15  18 Hours Ago  https://www.cnbc.com/2022/09/02/why-divorced-o...
16  18 Hours Ago  https://www.cnbc.com/2022/09/02/investing-club...
17  18 Hours Ago  https://www.cnbc.com/2022/09/02/low-vol-etfs-a...
18  19 Hours Ago  https://www.cnbc.com/2022/09/02/fox-news-perso...
19  19 Hours Ago  https://www.cnbc.com/2022/09/02/gm-offers-to-b...
20  19 Hours Ago  https://www.cnbc.com/2022/09/02/virtual-realit...
21  19 Hours Ago  https://www.cnbc.com/2022/09/02/august-jobs-re...
22  19 Hours Ago  https://www.cnbc.com/2022/09/02/stocks-making-...
23  19 Hours Ago  https://www.cnbc.com/2022/09/02/-omicron-covid...
24  19 Hours Ago  https://www.cnbc.com/2022/09/02/honor-launches...
25  19 Hours Ago  https://www.cnbc.com/2022/09/02/1970s-inflatio...
26  19 Hours Ago  https://www.cnbc.com/2022/09/02/nyc-sues-starb...
27  20 Hours Ago  https://www.cnbc.com/2022/09/02/white-house-sl...
28  20 Hours Ago  https://www.cnbc.com/2022/09/02/student-loan-f...
29  20 Hours Ago  https://www.cnbc.com/2022/09/02/crypto-winter-...
30           NaN  https://www.cnbc.com/2022/09/03/europe-ready-t...
31           NaN  https://www.cnbc.com/2022/09/03/eu-urges-china...
32           NaN  https://www.cnbc.com/2022/09/02/trump-pick-in-...
33           NaN  https://www.cnbc.com/2022/09/02/how-quiet-quit...
34           NaN  https://www.cnbc.com/2022/09/02/pro-picks-watc...
35           NaN  https://www.cnbc.com/2022/09/02/comcast-execut...
36           NaN  https://www.cnbc.com/2022/09/02/investing-club...
37           NaN  https://www.cnbc.com/2022/09/02/as-wall-street...
38           NaN  https://www.cnbc.com/2022/09/02/john-podesta-t...
39           NaN  https://www.cnbc.com/2022/09/02/trump-ex-attor...
40           NaN  https://www.cnbc.com/2022/09/02/million-dollar...
41           NaN  https://www.cnbc.com/2022/09/02/chobani-pulls-...
42           NaN  https://www.cnbc.com/2022/09/02/these-were-the...
43           NaN  https://www.cnbc.com/2022/09/02/pga-tour-denie...
44           NaN  https://www.cnbc.com/2022/09/02/august-jobs-re...
45           NaN  https://www.cnbc.com/2022/09/02/why-divorced-o...
46           NaN  https://www.cnbc.com/2022/09/02/investing-club...
47           NaN  https://www.cnbc.com/2022/09/02/low-vol-etfs-a...
48           NaN  https://www.cnbc.com/2022/09/02/fox-news-perso...
49           NaN  https://www.cnbc.com/2022/09/02/gm-offers-to-b...
50           NaN  https://www.cnbc.com/2022/09/02/virtual-realit...
51           NaN  https://www.cnbc.com/2022/09/02/august-jobs-re...
52           NaN  https://www.cnbc.com/2022/09/02/stocks-making-...
53           NaN  https://www.cnbc.com/2022/09/02/-omicron-covid...
54           NaN  https://www.cnbc.com/2022/09/02/honor-launches...
55           NaN  https://www.cnbc.com/2022/09/02/1970s-inflatio...
56           NaN  https://www.cnbc.com/2022/09/02/nyc-sues-starb...
57           NaN  https://www.cnbc.com/2022/09/02/white-house-sl...
58           NaN  https://www.cnbc.com/2022/09/02/student-loan-f...
59           NaN  https://www.cnbc.com/2022/09/02/crypto-winter-...

# Question 8

In [42]:
import requests
from bs4 import BeautifulSoup

data=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
bs=BeautifulSoup(data.text,'html.parser')

# Paper title scraping
record=bs.find_all("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
a=[]
for i in range(0,len(record)):
    a.append(record[i].text)

#print("The Paper titles are : \t", a )

#Authors Scraping

author=bs.find_all("span",class_="sc-1w3fpd7-0 pgLAT")
b=[]
for i2 in range(0,len(author)):
    b.append(author[i2].text)
    
#print("The Authors are : \t", b)  

#Published Date Scraping

date=bs.find_all("span",class_="sc-1thf9ly-2 bKddwo")
c=[]
for i3 in range(0,len(date)):
    c.append(date[i3].text)
    
#print("The Published Dates are : \t", c)  


#Paper URL Scraping

url=bs.find_all("a",class_="sc-5smygv-0 nrDZj")
lk=[]
for i4 in url:
    lk.append(i4["href"])
    
#creating dataframe
lists = [a,b,c,lk]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Title","Author","Published Date","URL"]
df

,Title,Author,Published Date,URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, BoÅ¡njak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social humanârobot in...,"Lemaignan, SÃ©verin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, HernÃ¡ndez-Orallo, JosÃ© and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"BoÅ¡anskÃ½, Branislav, LisÃ½, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, LÃ¸land, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, TomÃ¡Å¡, BahnÃ­k, Å tÄpÃ¡n, FÃ¼rnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, GonÃ§alo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,âThat's (not) the output I expected!â On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Question 9

In [43]:
import requests
from bs4 import BeautifulSoup

data=requests.get("https://www.dineout.co.in/delhi-restaurants/welcome-back")
soup=BeautifulSoup(data.content,"html.parser")

x=soup.find("div",class_="restnt-card-wrap-new").find_all("div")

#restaurant name
name=soup.find_all("a",class_="restnt-name ellipsis")
a=[]
for i in range(0,len(name)-1):
    a.append(name[i].text)
#print("Restaurant names", a)

#restaurant cuisine

w=soup.find_all("span",class_="double-line-ellipsis")
temp=[]
for i in range(0,len(w)):
    temp.append(w[i].text)
    
#print("Restaurant Cuisine", temp)

#restaurant location
location=soup.find_all("div",class_="restnt-loc ellipsis")
b=[]
for i2 in range(0,len(name)-1):
    b.append(location[i2].text)
#print("Restaurant Location", b)

#restaurant rating
rating=soup.find_all("div",class_="restnt-rating rating-4")
c=[]
for i3 in range(0,len(name)-1):
    c.append(rating[i3].text)
    
#print("Restaurant Rating", c)

#restaurant image url
z=soup.find_all("img", class_="no-img")
lk=[]
for i3 in z:
    lk.append(i3["data-src"])
    
    
#creating dataframe
lists = [a,temp,b,c,lk]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Restaurant Name","Cuisine","Location","Rating","URL"]
df

,Restaurant Name,Cuisine,Location,Rating,URL
0,Tamasha,"â¹ 2,000 for 2 (approx) | Continental, Asian, I...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"â¹ 2,000 for 2 (approx) | North Indian, Asian, ...","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Openhouse Cafe,"â¹ 2,000 for 2 (approx) | North Indian, Asian, ...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
3,Ministry Of Beer,"â¹ 3,000 for 2 (approx) | North Indian, Contine...","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
4,Station Bar,"â¹ 1,100 for 2 (approx) | Italian, Chinese, Nor...","F-Block,Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,QBA,"â¹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,The Junkyard Cafe,"â¹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,The G.T. ROAD,"â¹ 1,400 for 2 (approx) | North Indian","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,Connaught Clubhouse Microbrewery,"â¹ 1,800 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Berco's,"â¹ 1,300 for 2 (approx) | Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Chido,"â¹ 1,800 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
11,My Bar Headquarters,"â¹ 1,500 for 2 (approx) | North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
12,Farzi Cafe,"â¹ 2,000 for 2 (approx) | Modern Indian, Contin...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
13,Unplugged Courtyard,"â¹ 3,300 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
14,38 Barracks,"â¹ 2,700 for 2 (approx) | North Indian, Chinese...","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,Ardor 2.1 Restaurant and Lounge,"â¹ 2,000 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
16,Out Of The Box Courtyard,"â¹ 2,200 for 2 (approx) | North Indian, Mediter...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
17,Sandoz,"â¹ 1,400 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
18,The Luggage Room By Sandoz,"â¹ 1,600 for 2 (approx) | Chinese, Italian, Nor...","M-Block,Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
19,Chili's American Grill and Bar,"â¹ 2,000 for 2 (approx) | Mexican, American, Te...","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,NaN,"â¹ 2,500 for 2 (approx) | Asian, Finger Food, C...",NaN,NaN,https://im1.dineout.co.in/images/uploads/resta...

# Question 10

In [49]:
import requests
from bs4 import BeautifulSoup

data=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
soup=BeautifulSoup(data.content,'html.parser')

x=soup.find_all("td",class_="gsc_mvt_p")
a=[]

for i in range(0,len(x)):
    a.append((x[i].text))

y=soup.find_all("td",class_="gsc_mvt_t")
b=[]

for i2 in range(0,len(x)):
    b.append((y[i2].text))

z=soup.find_all("a",class_="gs_ibl gsc_mp_anchor")
c=[]

for i3 in range(0,len(x)):
    c.append((z[i3].text))

w=soup.find_all("span", class_="gs_ibl gsc_mp_anchor")
d=[]

for i4 in range(0,len(x)):
    d.append((w[i4].text))

# for i5 in range(0,len(x)):
#     print(a[i5],b[i5],c[i5],d[i5])

#creating dataframe
lists = [a,b,c,d]
df = pd.concat([pd.Series(x) for x in lists], axis=1)
df.columns=["Rank","Publication","h5-index","h5-median"]
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

In [48]:
d

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']